.header {
    background-image: linear-gradient(180deg,#f7442e,#fe6133);
    height: var( --header-height);

}

.header__navbar{
    display: flex;
    justify-content: space-between;
}

.header__navbar-list{
    list-style: none;
    padding-left: 0px;
    margin-top: 4px;
    display: flex;
}

.header__navbar-item{
    margin: 0 8px;
    font-size: 13px;
    min-height: 26px;
   


}

#header__navbar-user{
    display: none ;
}

.header__navbar-user:hover .header__navbar-user-function-list{
    display: block;
}

.header__navbar-user-icon{
    height: 22px;
    width: 22px;
    border-radius: 50%;
    margin-right: 8px;
}

.header__navbar-user-name{

}

.header__navbar-user-function-list{
    list-style: none;
    background-color: white;
    width: 160px;
    color: var(--text-color);
    font-size: 1.4rem;
    padding: 0;
    position: absolute;
    top: calc(100% + 8px);
    right: 0;
    z-index: 2;
    box-shadow: 0 1px 2px #e0e0e0;
    display: none;

}

.header__navbar-user-function-list::after{
    content: "";
    
    position: absolute;
    top: -20px;
    right: 0;
    height: 20px;
    width: 404px;
    background-color: rgba(0, 0, 0, 0);
}
.header__navbar-user-function-list::before{
    content: "";
    border: 10px solid ;
    border-color: transparent transparent white  transparent;
    position: absolute;
    top: -20px;
    right: 12px;
}

.header__navbar-user-function-item{

   
    padding: 8px 16px;
}

.header__navbar-user-function-item:hover{
    background-color: var(--hover-color);
}
.header__navbar-item-icon-link:hover,
.header__navbar-item-link:hover,
.header__navbar-item:hover{
    color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
}
.header__navbar-item-link,
.header__navbar-item{
    display: inline-block;
    font-size: 1.3rem;
    color: var(--white-color);
    text-decoration: none;
    position: relative;
    
}

.header__navbar-item,
.header__navbar-item-link,
.header__navbar-item-icon-link{
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}
.header__navbar-item--strong{
    font-weight: 500;
}

.header__navbar-item--separate::after{

        content: "";
        display: block;
        background-color: #fab8b1;
       
        border-left: 1px solid #fab8b1;
        height: 100%;
        position: absolute;
        right: -9px;
        top: 50%;
        transform: translateY(-50%);

}

.header__navbar-item-icon-link{
    text-decoration: none;
    color: white;
    font-size: 18px;
    
}

.header__navbar-icon{
    font-size: 1.8rem;
    padding: 0 4px;
}

.header__navbar-item-title--no-pointer{
    cursor: default;
    color: var(--white-color);
}

/* Header QR code  */

.header__qr{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    width: 170px;
    padding: 8px;
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 1px #fff;
    animation: qrAppear ease-out 0.8s;
}
.header__qr-img{
    width: 100%;
}

.header__qr-apps{
    height: 16px;
    display: inline-flex;
    justify-content: space-between;
    width: calc(100% - 20px);
    margin-left: 8px ;
    
}

.header__qr-app-store{
   width: 100%;
   height: 100%;
}

.header__qr-app-store-img{
    width: 100%;
    height: 100%;
}

/* Header notify */
.header__notify{
    position: absolute;
    top: calc( 100% + 10px);
    right: 0;
    width: 404px;
    background-color: white;
    border: #d3d3d3 solid 1px;
    cursor: default;
    transform-origin: calc(100% - 20px) top;
    animation: headerNotifyGrow ease-in 0.2s;
    display: none;
    z-index: 99;

}
.header__notify::before{
    content: "";
    border: 10px solid ;
    border-color: transparent transparent white  transparent;
    position: absolute;
    top: -20px;
    right: 12px;
}
.header__notify::after{
    content: "";
    
    position: absolute;
    top: -20px;
    right: 0;
    height: 20px;
    width: 404px;
    background-color: rgba(0, 0, 0, 0);
}


@keyframes headerNotifyGrow {
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}

@keyframes qrAppear {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.header__notify-header{
    height: 40px;
    font-size: 1.4rem;
    background-color: white;
    cursor: default;
    width: 100%;
    z-index: 2;
   
}

.header__notify-header h3{
    color: #666;
    margin-left: 12px;
    font-weight: 400;
    line-height: 40px;
}
.header__notify-list{
    padding-left: 0;
   
    
}

.header__notify-item{
    display: flex;
    flex-direction: column;
    background-color:rgba(238, 77, 45,0.1); ;
}
.header__notify-item--viewed{
    background-color: white;
}

.header__notify-item:hover{
    background-color: #f7f7f7;
}

.header__navbar-item--qr-display:hover .header__qr{
    display: block;
}

.header__navbar-item--notify-display:hover .header__notify{
    display: block;
}
.header__notify-item-link{
    display: flex;
    
    text-decoration: none;
    padding: 12px 12px;
    
}

.header__notify-item-img{
    width: 48px;
    object-fit: contain;
}

.header__notify-item-body{
        color: var(--text-color);
        padding-left: 12px;
}

.header__notify-item-title{
    font-size: 1.4rem;
    margin: 0;
    font-weight: 400;
}

.header__notify-item-description{
    font-size: 1.2rem;
    margin-top: 4px;
    opacity: 0.8;
    line-height: 1.4rem;
}
.header__notify-footer{
   
  
    
}
.header__notify-footer-btn{
    text-decoration: none;
    width: 100%;
   color: var(--text-color);
   padding: 8px 16px;
   font-size: 1.4rem;
   font-weight: 400;
   text-align: center;
   display: block;
}


.auth-form{
    width: 500px;
    animation: ScaleUp ease-out 0.2s;
    
   
}

.auth-form--sign-in{
    display: none;
}
.auth-form--sign-up{
    display: none;
}


.auth-form__header{
    padding: 16px 32px;
    display: flex;
    justify-content: space-between;
}

.auth-form__heading{
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}

.auth-form__switch-btn{
    font-size: 1.6rem;
    background-color: transparent;
    border: none;
    color: var(--primary-color);
    font-weight: 500;
    cursor: pointer;
}

.auth-form__body{
    padding: 0 32px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.auth-form__group-input{

}

.auth-form__input{
    width: 100%;
    margin-bottom: 16px ;
    padding: 10px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    outline:none;
   
  
}
.auth-form__input:focus{
    border-color: #777;
}

.auth-form__policy{
    margin-top: 12px;
    
}

.auth-form__policy-description{
    font-size: 1.2rem;
    font-weight: 500;
    margin-left: 16px;
    text-align: center;
}

.auth-form__policy-description-link{
    text-decoration: none;
    color: var(--primary-color);
}



.auth-form__controls{
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}

.auth-form__footer{
   padding: 8px;
   background-color: #d3d3d365;
   display: flex;
   margin-top: 32px;
}

.auth-form__socials{
    width: 100%;
    padding: 0 20px;
    display: inline-flex;
    justify-content: space-between;
}

.auth-form__socials-icon{
    margin-left: 8px;
    font-size: 1.5rem;
}

.auth-form__social-title{
   margin: 0 4px;
}

.auth-form__help{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    font-size: 1.4rem;
    align-items: center;
   
}

.auth-form__help-link{
    text-decoration: none;
    
    line-height: 100%;
}

.auth-form__help-separator{
    width: 1px;
    background-color: #d3d3d3;
    height: 20px;
    margin: 0 16px;
   
}

.auth-form__help-forgot{
    color: var(--primary-color);
    font-weight: 500;
}

.auth-form__help-help{
    color: #939393;
    
}

.header__logo-and-search{
    width: 100%;
    height: var(--header-search-and-logo-height);
    
    display: flex;
    align-items: center;
}

.header__search{
    height: 40px;
    flex: 1;
    background-color: white;
    border-radius: 2px;
    display: flex;
}

.header__cart{
   
   text-align: center;
    width: 150px;
    position: relative;
    cursor: pointer;
   
}
.header__search-input:focus ~ .header__search-history{
    display: block;
}
.header__search-input{
    width: 100%;
}
.header__logo{
    width: 200px;
    padding: 8px;
    text-align: center;
}

.header__logo-img{
    width: 150px;
    fill: white;
}

.header__cart-icon{
    font-size: 25px;
    color: white;
    line-height: 100%;

}

.header__search-input{
   flex:1;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.4rem;
    background-color: white;
    padding: 0 16px;
    color: var(--text-color);
    border-radius: 2px;
}

.header__search-option{
   
    background-color: transparent;
    display: flex;
    padding-left: 16px;
    border-left: 1px solid #939393;
    margin: 8px 0;
    font-size: 1.4rem;
    color: var(--text-color);
    align-items: center;
    position: relative;
    cursor: pointer;
    
}

.header__search-option:hover .header__search-option-list{
    display: block;
}
.header__search-option-lable{
    margin-right: 8px;
}

.header__search-option-icon{
    margin-right: 8px;
    font-weight: 600;
}

.header__search-btn{
    font-size: 1.6rem;
    color: white;
    background-color: var(--primary-color);
   padding: 0 20px;
    display: flex;
    margin: 2px 2px;
    border-radius: 3px;
   cursor: pointer;
   
}

.header__search-btn-icon{
    margin: auto;
}
.header__search-btn:hover{
    opacity: 0.8;
}

.header__search-option-list{
    text-decoration: none;
    list-style: none;
    position: absolute;
    width: 100%;
    top: 100%;
   background-color: white;
    right: 0;
    padding: 0 0;
   box-shadow: 0 0 1px #939393;
    border-radius: 3px;
    display: none;
    animation: fadeIn ease 0.3s;
  
    
}

.header__search-option-list::before{
    content: "";
    height: 15px;
    width: 100%;
    position: absolute;
    top: -15px;
    right: 0;
    margin: 0%;
    background-color: transparent;
   
}
.header__search-option-list-item{
        padding: 12px 8px;
        width: 100%;
        font-size: 1.4rem;
        display: inline-block;
        
}

.header__search-option-list-item:hover{
    background-color: var(--hover-color);
}

.header__search-option-list-item i{
    color: var(--primary-color);
}

.header__seach-input-box{
   flex: 1;
    position: relative;
}

.header__search-history{
    width: 100%;
    position: absolute;
    top: calc(100% + 4px);
    left: 0;
    box-shadow: 1px 1px 2px var(--border-color);
    background-color: white;
    border-radius: 3px;
    z-index: 3;
    font-size: 1.6rem;
    display: none;

}
.header__search-history h4{
    
    font-weight: 400;
    color: #939393;
    padding: 8px 16px ;
    margin: 8px 0;
}
.header__search-history-list{
    width: 100%;
    margin: 0;
    padding: 0;
    

}

.header__search-history-list-item{
    list-style: none;
    padding: 12px 16px;
    color: var(--text-color);
    cursor: pointer;
}

.header__search-history-list-item:hover{
    background-color: var(--hover-color);
}


.header__cart-list{
    position: absolute;
    top: calc(100% + 16px);
    right: -8px;
    width: 400px;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 1px 3.125rem  #ccc;
    display: none;
    text-align: left;
    z-index: 3;
    
}

.header__cart-list--no-item-img{
    width: 60%;
    margin: 24px 0;
    display: none;
}

.header__cart-list--no-item-message{
    font-size: 1.4rem;
    display: none;
}

.header__cart-list::before{
    content: "";
    border: 10px solid ;
    border-color: transparent transparent white  transparent;
    position: absolute;
    top: -20px;
    right: 12px;
}



.header__cart-wrap{
   display: inline-block;
   position: relative;
   
}

.header__cart-wrap:hover .header__cart-list{
    display: block;
}

.header__cart-list::after{
    content: "";
    
    position: absolute;
    top: -30px;
    right: 0;
    height: 30px;
    width: 404px;
    background-color: rgba(0, 0, 0, 0);
}

.header__cart-list--no-item{
    cursor: default;
   
}

.header__cart-list--no-item .header__cart-list--no-item-img ,
.header__cart-list--no-item .header__cart-list--no-item-message{
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.header__cart-number-of-items{
    position: absolute;
    
    color: var(--primary-color);
    background-color: white;
    border-radius: 50%;
    padding: 2px 7px;
    font-size: 1.4rem;
    line-height: 1.4rem;
    border: 2px solid var(--primary-color);
    top: -9px;
    right: -20px;
}


.header__cart-list-heading{
    margin: 8px 12px;
    font-size: 1.4rem;
    font-weight: 400;
    color: #939393;
    
}
.header__cart-list-list{
    list-style: none;
    padding: 0;
    
}



.header__cart-list-item{
    display: flex;
    padding: 4px 4px;
}
.header__cart-list-item:hover{
    background-color: var(--hover-color);
}
.header__cart-list-item-img{
    width: 42px;
    height: 42px;
    border: 1px solid #d3d3d3;
    margin: 12px;
}

.header__cart-list-item-info{
    font-size: 1.4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    
}

.header__cart-list-item-info-first-line{
    display: flex;
    justify-content: space-between;
    margin: 0 8px;
}

.header__cart-list-item-price-wrap{

}
.header__cart-list-item-name{
    margin: 0 ;
    font-size: 1.4rem;
    font-weight: 500;
    flex: 1;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    padding-right: 16px;
}

.header__cart-list-item-price{
        color: var(--primary-color);
}

.header__cart-list-item-mutiply{
        font-size: 0.9rem;
}

.header__cart-list-item-quantity{
        font-size: 1.2rem;
}

.header__cart-list-item-info-second-line{
    display: flex;
    justify-content: space-between;
    margin: 4px 8px;
}

.header__cart-list-item-catogory{
    font-size: 1.2rem;
    font-weight: 300;
}

.header__cart-list-item-delete-btn:hover{
    color: var(--primary-color);
}

.header__cart-show-cart{
    margin-bottom: 12px;
    margin-right: 12px;
    float: right;
   
}

/* app container  */

.app__container{
    background-color: #f5f5f5;
}

.category{
    background-color: white;
    border-radius: 2px;
}

.category__heading{
    font-size: 1.7rem;
    color: var(--text-color);
    padding: 16px 16px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ccc;
    margin: 0 0 8px 0;

}

.category__heading-icon{
    font-size: 1.4rem;
    margin-right: 10px;
}

.category-list{
    padding-left: 0;
    list-style: none;
    padding-bottom: 8px;
}

.category-item{
    padding: 8px 26px;
}

.category-item--link{
    position: relative;
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--text-color);
    transition: all linear 0.2s ;
    right: 0px;
}

.category-item--link:hover{
    right: -4px;
    font-size: 1.6rem;
    color: var(--primary-color);
}

.category-item--active .category-item--link{
    color: var(--primary-color);
}

.category-item--active .category-item--link::before{
    content: "";
    border: 4px solid var(--primary-color);
    border-color: transparent transparent transparent var(--primary-color);
    position: absolute;
    top:50%;
    transform: translateY(-50%);
    left: -10px;
}

.app-content{
    padding-top: 24px;
}

/* home sort and filter  */

.home-filter{
    display: flex;
    background-color: rgba(0, 0, 0, 0.04);
    align-items: center;
    padding: 13px 20px;
}

.home-filter__label{
    color: rgba(85, 85, 85, 1);
    font-size: 1.4rem;
    margin-right: 16px;
}

.home-filter__page{
    display: flex;
    align-items: center;
    margin-left: auto;
}

.home-filter-btn{
    min-width: 90px;
    
    
}

.home-filter__page-num{
    font-size: 1.5rem;
    color: var(--text-color);
    margin-right: 22px;
}

.home-filter__page-current{
    color: var(--primary-color);
}

.home-filter__page-control{
    font-size: 1.4rem;
    display: flex;
}

.home-filter__page-btn{
    text-decoration: none;
    background-color: white;
    color: #555;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 1px 1px 0 rgba(0,0,0,.05) ;

}

.home-filter__page-btn--disabled{
    opacity: 0.5;
    cursor: default;
}

.home-product{
    
}

.home-product-item{
    background-color: white;
    box-shadow: 0 1px 2px rgba(0, 0, 0,0.1);
    position: relative;
    margin-top: 10px;
    transition: all linear 0.2s;
}

.home-product-item:hover{
    
    transform: scale(1.1);
    z-index: 2;
    box-shadow: 2px 0 8px rgb(83, 83, 83), 0px 2px 8px rgb(134, 133, 133);
}

.home-product-item__img{
    padding-top: 100%;
   
}

.home-product-item__name{
    font-size: 1.4rem;
    font-weight: 400;
    line-height: 1.8rem;
   height: 3.6rem;
   overflow: hidden;
    margin: 10px 10px;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.home-product-item__price{
    display: flex;
    
    align-items: center;
    flex-wrap: wrap;
    
}

.home-product-item__price-old{
    margin-left: 10px;
    font-size: 1.4rem;
    text-decoration: line-through;
    color: #666;
}

.home-product-item__price-new{
    margin-left: 10px;
    font-size: 1.6rem;
    color: var(--primary-color);
}

.home-product-item__action{
    display: flex;
    justify-content: space-between;
    margin: 6px 10px 0 10px;
}

.home-product-item__like{
    
    font-size: 1.3rem;
}

i.home-product-item__like-icon-liked{
    color: red;
    display: none;
}

.home-product-item__liked .home-product-item__like-icon-liked{
    display: inline-block;
}
.home-product-item__like-icon-empty{
    color: #D5D5D5;
}
.home-product-item__liked .home-product-item__like-icon-empty{
    display: none;
}

.home-product-item__rating{
    color: #D5D5D5;
    font-size: 1rem;
}

.home-product-item__rating-star--rated{
    color: #FFCE3E;
}

.home-product-item__sold-number{
    margin-left: 6px;
    font-size: 1.2rem;
    color: var(--text-color);
}

.home-product-item__origin{
    display: flex;
    margin: 3px 10px 0 10px;
    justify-content: space-between;
    font-size: 1.2rem;
    color: var(--text-color);
}

.home-product-item__origin-brand{
    
}

.home-product-item__origin-country{

}

.home-product-item__favorite{
    position: absolute;
    top: 10px;
    left: -4px;
    background-color:currentColor;
   color: var(--primary-color);
    padding: 0 4px;
    font-size: 1.2rem;
    line-height: 1.8rem;
    font-weight: 500;
    border-radius: 2px;
}
.home-product-item__favorite span {
    color: white;
    font-weight: 600;
}
.home-product-item__favorite-icon{
    margin: 0 2px 0 5px;
    font-size: 1rem;
   
    color: white;
}

.home-product-item__favorite::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    border-left: 3px solid transparent;
    border-top: 3px solid currentColor;
    filter: brightness(60%);
    
    
}

.home-product-item__sale-off{
        position: absolute;
        top: 0px;
        right: 0;
        height: 40px;
        width: 40px;
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        align-items: center;
        color: var(--star-gold-color);
        background-color: currentColor;
}

.home-product-item__sale-off::after{
    content: "";
    border-bottom: 4px solid transparent;
    border-left:  20px solid currentColor;
    border-right: 20px solid currentColor;
    position: absolute;
    top: 100%;
    right: 0;
}

.home-product-item__sale-off-percent{
    font-size: 1.2rem;
    color: var(--primary-color);
    font-weight: 500;
}

.home-product-item__sale-off-lable{
        font-size: 1.3rem;
        color: white;
        font-weight: 500;
}

.footer-apps-container{
    display: flex;
    width: 100%;
    height: 80px;
}

.footer__qr-img{
    height: 100%;
    border: 1px solid #ccc;
}

.footer__qr-apps{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 16px;
}
.footer__qr-app-store{
    display: block;
    height: 16px;
}

.footer__qr-app-store-img{
    height: 100%;
}

.footer__policy{
    font-size: 1.2rem;
    color: #737373;
    background-color: rgba(204, 204, 204, 0.356);
    margin: 0;
    padding: 8px 0;
    flex: 1;
    text-align: center;
}



.header__sort-bar{
    position: fixed;
    top: var(--header-height);
    left: 0;
    right: 0;
    height: var(--header-sort-bar-height);
    background-color: white;
    list-style: none;
    display: none;
    margin-top: 0;
    margin-bottom: 0;
   padding-left: 0;
    width: 100%;
   
}

.header__sort-item{
    
}

.header__sort-link{
    text-decoration: none;
    font-size: 1.4rem;
    display: block;
    text-align: center;
    line-height: var(--header-sort-bar-height);
    position: relative;
}

.header__sort-link::before{
    content: "";
    position: absolute;
    top: 20%;
    left: 0;
    height: 60%;
    border-left: 1px solid #e5e5e5;
}

.header__sort-item .header__sort-link{
    color: var(--primary-color);
}

.header__sort-item:first-child .header__sort-link::before{
    display: none;
}